language: "node_js"
node_js:
  - "6"

cache:
  directories:
    - node_modules

branches:
  only:
    - master
    - development
    - production

before_install:
  - npm install -g --production yarn

# command to install dependencies
install:
  - yarn
  - yarn global add babel-core babel-istanbul

# command to run tests
script:
  - yarn test

# command to report coverage
after_success:
  - yarn coverage
